@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: Lora, serif;
  background-color: var(--clr-background-200);
}
:root {
  --clr-white-100: #ffffff;
  --clr-white-150: rgba(255, 255, 255, 1);
  --clr-background-200: linear-gradient(0deg, #fcfcfc, #fcfcfc),
    linear-gradient(0deg, #e9e9e9, #e9e9e9);
  --clr-pink-300: #fbebeb;
  --clr-black-900: #001;
  --clr-black-800: rgba(35, 31, 32, 1);
  --clr-gray-300: linear-gradient(0deg, #fcfcfc, #fcfcfc);
  --clr-gray-900: #868584;
  --clr-gray-800: rgba(134, 133, 132, 1);
  --fs-1: 36px;
  --fs-2: 32px;
  --fs-3: 24px;
  --fs-4: 20px;
  --fs-5: 16px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.header__title {
  margin-right: 1rem;
  padding-left: 0.5rem;
  font-size: var(--fs-1);
  font-weight: 400;
}
.menagerie {
  padding-left: 1rem;
}

.nav,
.price_list {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  margin-right: 0.5rem;
  font-size: var(--fs-3);
  font-weight: 400;
}

.nav-link {
  text-decoration: none;
  color: var(--clr-black-900);
}
.header__options {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}
.cart-icon {
  width: 40px;
}

.user-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.img div {
  object-fit: cover;
}
.grid__gallery {
  display: grid;
  grid-template-columns: 1fr;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
}
.container_img {
  display: block;
}
.container_img-mobile {
  display: none;
}
.container_description {
  align-self: center;
  padding-top: 3rem;
  padding-right: 3rem;
}
h2 {
  text-transform: uppercase;
  font-size: var(--fs-3);
  font-weight: 400;
  color: var(--clr-gray-800);
}
h1 {
  font-size: var(--fs-2);
  font-weight: 700;
  color: var(--clr-black-900);
}
h3 {
  font-size: var(--fs-4);
  font-weight: 400;
  color: var(--clr-black-900);
}
p.perfume_description {
  font-size: var(--fs-5);
  font-weight: 300;
  color: var(--clr-black-900);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
p.discount_price {
  font-size: var(--fs-1);
  font-weight: 400;
  color: var(--clr-black-900);
}
p.full_price {
  font-size: var(--fs-4);
  font-weight: 400;
  color: var(--clr-gray-800);
  text-decoration: line-through;
  padding-bottom: 1rem;
}
li {
  margin-left: 0.8rem;
}
.small,
.medium,
.big {
  padding-right: 0.8rem;
  border: 1px solid var(--clr-black-900);
  border-radius: 0.5rem;
  padding-left: 0.8rem;
  margin-bottom: 1.2rem;
}
.amount {
  font-size: var(--fs-4);
  color: var(--clr-black-900);
  font-weight: 500;
}
.price {
  font-size: var(--fs-5);
  color: var(--clr-black-900);
  font-weight: 300;
}
.small,
.medium {
  background-color: var(--clr-gray-300);
}
.big {
  border: 3px solid var(--clr-black-900);
  background-color: var(--clr-pink-300);
}
.minus,
.plus {
  font-size: var(--fs-3);
  color: var(--clr-black-800);
  font-weight: 800;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
.number {
  font-size: var(--fs-3);
  font-weight: 400;
  color: var(--clr-gray-800);
}
.button {
  border: 1px solid var(--clr-black-900);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 2rem;
  font-size: var(--fs-3);
  font-weight: 500;
  color: var(--clr-white-150);
  background-color: var(--clr-black-900);
}
.flex__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 3rem;
  max-width: 50%;
}
@media screen and (max-width: 360px) {
  .nav-list {
    display: none;
  }
  .header {
    padding-bottom: 0;
    justify-content: space-between;
  }
  .header__title {
    font-size: var(--fs-4);
    margin-right: 2.5rem;
  }
  .cart-icon {
    width: 40px;
  }

  .user-profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .container_img {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 294px;
    padding-left: 0;
    gap: 0;
  }
  .container_img-mobile {
    display: block;
  }
  .container_img {
    display: none;
  }
  .container_img-mobile .banner-mobile {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .container_description,
  h2,
  h1,
  h3,
  p {
    display: grid;
    grid-template-columns: 1fr;
  }
}
